:root {
  --teagreen: #CCD5AE;
  --beige: #E9EDC9;
  --cornsilk: #FEFAE0;
  --papayawhip: #FAEDCD;
  --buff: #D4A373;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    background-color: var(--cornsilk);
    color: var(--buff);
    font-family: sans-serif;
}

section{
    min-height: 100vh;
}
/* header */
header{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--teagreen);
    color: var(--buff);
    padding: 1rem;
    max-height: 20vh;
    border-radius: 0 0 0.8rem 0.8rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 5rem;
}
.logo{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
}
.navbar-items{
    flex-grow: 2;
}
#menu-icon{
    color: inherit;
    cursor: pointer;
    font-size: 1.5rem;
}
.navbar-items ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
    margin: 0;
    align-items: center;
}
.navbar-items ul li a,
#menu-icon{
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    transition: 0.3s;
}
.navbar-items ul li a:hover,
#menu-icon:hover{
    color: var(--papayawhip);
}
.navbar-items ul li a:active,
#menu-icon:active{
    color: var(--cornsilk);
}

/* home section */
#home{
    display: flex;
    align-items: center;
    padding: 0 9%;
}
.home-content{
    max-width: 30rem;
}
.home-content h1{
    font-size: 2.3rem;
    font-weight: 800;
    margin: 0;
}
.home-text-animate{
    position: relative;
}
.home-text-animate h3{
    margin: 0;
    color: transparent;
    -webkit-text-stroke: 0.7px var(--buff);
}
.home-content p{
    margin: 1rem 0 1.5rem;
}
.home-content p strong{
    font-weight: normal;
}
.home-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.home-button button{
    background: var(--papayawhip);
    padding: 0.8rem;
    border: none;
    border-radius: 0.5rem;
    transition: 0.3s;
    border: 0.1rem solid var(--buff);
}
.home-button button a{
    text-decoration: none;
    color: var(--buff);
    transition: 0.3s;
}
.home-button button:hover{
    background: var(--teagreen);
    border: 0.1rem solid var(--beige);
}
.home-button button a:hover{
    color: var(--beige);
}

/* about me section */
#about-me{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    background: var(--beige);
}
.about-me-left{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.about-me-left img{
    max-height: 80vh;
    border-radius: 0.8rem;
}
.about-me-right{
    width: 50%;
}
.about-me-right p{
    margin-top: 60px;
}
.about-me-right p strong{
    font-weight: normal;
}

/* project section */
#project{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}
.project-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.project-head div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
}
.project-head div button{
    background: var(--papayawhip);
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--buff);
    color: var(--buff);
    cursor: pointer;
}
.project-head div button:hover{
    background: var(--beige);
    border: 0.1rem solid var(--teagreen);
    color: var(--teagreen);
}
.project-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    justify-content: center;
    gap: 2rem;
}

.project-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: var(--papayawhip);
    border: 0.1rem solid var(--buff);
    border-radius: 0.8rem;
}
.project-card img{
    display: block;
    width: 45vh;
    height: 30vh;
    background: var(--beige);

    justify-self: center;
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 0.8rem;
}
.project-card h3, p,
.project-tools, .project-link{
    margin: 0rem 1rem 1rem 1rem;
}
.project-tools, .project-link{
    font-size: 2rem;
}

/* contact section */
#contact{
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: var(--beige);
}
.contact-left{
    width: 50%;
}
.contact-right{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 1rem;
}
.contact-right form fieldset{
    display: flex;
    flex-direction: column;
    border: 0.1rem solid var(--buff);
    border-radius: 0.8rem;
}
.contact-right form fieldset label{
    margin-bottom: 0.5rem;
}
.contact-right form fieldset input{
    border: none;
    border-bottom: 0.1rem solid var(--buff);
    padding: 0.5rem 0;
    background: transparent;
}
.contact-right form fieldset input::placeholder{
    color: var(--buff);
}
.contact-right form fieldset textarea{
    border: none;
    border-bottom: 0.1rem solid var(--buff);
    padding: 0.5rem 0;
    background: transparent;
    resize: none;
}
.contact-right form fieldset textarea::placeholder{
    color: var(--buff);
}
#contact-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
}
#contact-button input{
    background: var(--beige);
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--buff);
    color: var(--buff);
    cursor: pointer;
}
#contact-button input:hover{
    background: var(--teagreen);
    color: var(--papayawhip);
    border: var(--papayawhip);
}

/* footer */
footer{
    background: var(--teagreen);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.8rem 0.8rem 0rem 0rem;
}
footer h2, #footer-text{
    margin: 1rem;
}
.social-media{
    justify-items: center;
    width: 100%;
}
.social-media ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 2rem;
    gap: 1rem;
    padding: 0;
}