@import 'tailwindcss';
@plugin "daisyui" {
  themes: all;
}

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

@theme {
  --color-primary: #14b8a6;
  --color-primary2: #f59e0b;
  --color-secondary: #94a3b8;
}

@utility container {
  margin-inline: auto;
  padding-inline: 16px;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

body {
  font-family: 'Inter', sans-serif;
}

.navbar-fixed {
  @apply fixed z-9999 bg-white/50 backdrop-blur-xs;
}

/* hamburger menu */
.hamburger-line {
  @apply w-[30px] h-[2px] bg-black my-2 block transition-all duration-300 ease-in-out;
}
.hamburger-active > span:nth-child(1) {
  @apply origin-top-left rotate-45;
}
.hamburger-active > span:nth-child(2) {
  @apply opacity-0;
}
.hamburger-active > span:nth-child(3) {
  @apply origin-bottom-left -rotate-45;
}
/* hamburger menu */